<footer class="text-center text-lg-start bg-dark ">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      </section>

      <section class="">
        <div class="container text-center text-md-start mt-3">
          <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <h5 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>Protoned Music
              </h5>
              <p>
                Immerse yourself in the pulsating beats and electrifying rhythms of Protoned Music.
                Elevate your auditory experience and let the music take you to new heights. Protoned Music - where every beat is a journey.
              </p>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mb-2">
              <!--? Empty row between Description and Contact   -->
              <h5 class="text-uppercase fw-bold mb-4">Contact</h5>
              <p><i class="bi bi-house-fill me-3"></i> <a href="https://maps.app.goo.gl/A9awSZe6Lm2mnzBVA" target="_blank">Ballerup-Centret 2, 2750 Ballerup</a></p>
              <p><i class="bi bi-envelope-fill me-3"></i> <a href="mailto: info@protonedmusic.com">Info&#64;protonedmusic.com</a></p>
              <p><i class="bi bi-phone-fill me-3"></i> <a href="tel:+4512345678">+45 12345678</a></p>
            </div>
            <div class="col-md-2 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-2" *ngIf="currentUser.role != null">
              <div class="mb-3">
                <div class="form-group">
                  <label class="form-label">Subscribe to newsletter</label>
                  <div class="input-group">
                    <input [(ngModel)]="user.email" type="email" class="form-control" placeholder="name@example.com" aria-describedby="button-addon2" (keydown.enter)="subscribeNewsletter(user.email)">
                    <button class="btn btn-outline-success" type="button" id="button-addon2" (click)="subscribeNewsletter(user.email)">Subscribe</button>
                  </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </section>

      <div class="text-center p-4">
        &copy; 2023 Copyright:
        <a class="text-reset fw-medium" href="https://protonedmusic.com">ProtonedMusic.com&trade;</a>
      </div>
</footer>
