@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  height: 100vh;
  background-color: #292b2c;
  color: #fff;
}

h1, h2, h3, h4, h5 , h6, p {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #fff;
}

*{
  padding: 0;
  margin: 0;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

:root{
  --primary-color: #3FC060;
  --secondary-color: #162328;
}





html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
