@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
  background-color: #292b2c;
  color: #fff;
}

h1, h2, h3, h4, h5 , h6, p {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #fff;
}

*{
  padding: 0;
  margin: 0;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

:root{
  --primary-color: #3FC060 !important;
  --secondary-color: #162328;
  --button-color: #198754;
  --green-color: #198754;
  --back-button-color: #dc3545;
  --background-color: #1f2122;
}

/*#region Angular-Mat*/
.mat-mdc-dialog-container{
  background-color: #333333;
}
.mat-ripple {
  --mat-mdc-slider-hover-ripple-color: #198754 !important;
  opacity: 10%;
  --mat-mdc-slider-focus-ripple-color: #105736 !important;
  --mat-mdc-slider-ripple-color: #0a3823 !important;
}
.panel-tooltip {
  --mdc-plain-tooltip-container-color: transparent !important;
}
.mat-mdc-dialog-container {
  --mdc-dialog-container-color: var(--bs-dark-rgb) !important;
}
.mat-calendar{
  --mat-datepicker-calendar-date-selected-state-background-color: var(--calendar-color) !important;
  --mat-datepicker-calendar-date-today-selected-state-outline-color: var(--calendar-color) !important;
  --mat-datepicker-calendar-date-hover-state-background-color: var(--calendar-opacity-color) !important;
  --mat-datepicker-calendar-header-divider-color: rgb(71, 70, 70) !important;
  --mat-datepicker-calendar-date-focus-state-background-color: var(--calendar-color);
  --mat-datepicker-calendar-body-label-text-color: white !important;
  --mat-datepicker-calendar-date-text-color: white !important;
  --mat-datepicker-calendar-header-text-color: white !important;
  --mat-datepicker-calendar-container-text-color: white !important;
}   
/*#endregion*/

/*#region PrimeNG*/
.p-datepicker, .p-datepicker-header, .p-datepicker-month, .p-datepicker-year {
  color: white !important;
}

.p-datepicker-today > span.p-element {
  color: #ffffff;
  background-color: #239461ab !important;
}

.p-datepicker table td > span.p-highlight {
  color: #ffffff;
  background-color: #114d32ab !important;
}

.p-yearpicker > span.p-highlight {
  color: white !important;
  background-color: #114d32ab !important;
}

.p-datepicker table td > span.p-element:hover {
  color: white !important;
  background-color: #114d32ab !important;
}

.p-datepicker > .p-element:hover{
  background-color: #114d32ab  !important;
}

.p-datepicker, .p-datepicker-header {
  background-color: var(--secondary-color) !important;
}
.p-scrolltop.p-link {
  background: rgb(0 0 0 / 0%) !important;
}
.p-scrolltop-icon {
  font-size: 2.5rem !important;
  color: var(--primary-color) !important;
}

.p-datepicker-month:hover, .p-datepicker-year:hover {
  color: var(--green-color)  !important;
}

.p-ripple:hover {
  background-color: #114d32ab !important;
}

.p-avatar {
  background-color: var(--green-color) !important;
  cursor: pointer !important;
}

.p-datatable .p-datatable-tbody > tr, th{
	background: var(--background-color);
  color: white;
}

.p-datatable {
  margin-bottom: 2.5rem;
}

.p-datatable .p-sortable-column-icon{
  color: var(--green-color) !important;
}
/*#endregion*/


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cropper {
  --cropper-overlay-color: rgba(0, 0, 0, 0) !important;
}
