<div class="m-5">
    <div class="d-flex justify-content-around col-md-12">
      <div class="display-4 fw-medium mt-4">UPCOMING</div>
    </div>
</div>
<div class="container-fluid mt-5">
  <div class="row row-cols-auto row-cols-lg-3 g-4 m-5" *ngIf="this.getUpcomingShows()">
    <div *ngFor="let upcoming of getUpcomingShows()">
      <div class="card bg-dark text-light" style="grid-template-rows: auto 1fr;">
        <div class="card-header">
          <h2 class="card-title">{{upcoming.title}}</h2>
          <h3 class="card-subtitle">With {{upcoming.artist.name}}</h3>
        </div>
        <div class="card-body">
          <h4>Description: </h4>
          <p class="card-text text-truncate" style="max-width: 230px;">{{upcoming.content}}</p>
        </div>
        <div class="card-footer">
          <h5 class="card-subtitle small mt-3 me-3">Release date: {{ upcoming.date | date: 'dd MMM yyyy, HH:mm' }}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="g-4 m-5 align-content-center" *ngIf="this.checkEmpty == true">
    <div class="card bg-dark text-light">
      <div class="card-body text-center">
        <h2>Nothing upcoming right now check back later!</h2>
      </div>
    </div>
  </div>
</div>