.btnImg {
    border-style: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 11px;
}

