<div class="conatiner m-5">
    <div class="d-flex justify-content-around">
        <div class="display-6 mt-4">MERCHANDISE           
        </div>
        <div class="display-6 mt-4">MERCHANDISE           
        </div>
        <div class="btnImg btn-group mt-2 flex-column align-items-center">
            <i class="bi bi-cart3" style="font-size: 2.5rem;"></i>
            <p class="Total fw-medium m-0">{{ 2000 | currency:'DKK ' }}</p>
        </div>
    </div>
    <hr class="border-2 opacity-25">
    


</div>
