.btnImg {
    border-style: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 11px;
}

img {
    max-width: 100%;
    height: 100%;
}

.card:hover{
    transform: scale(1.01);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
  }

