<div class="container">
    <h1 class="m-2">News administration </h1>
  </div>
  
  <div class="container-fluid" data-bs-theme="dark">
    <div class="form-group row mb-3">
      <label class="col-12 col-sm-1 col-form-label">Footer Description</label>
      <div class="col-12 col-sm-6">
        <textarea style="resize: none;" class="form-control" rows="4" maxlength="500" [(ngModel)]="footer.description"
          [ngModelOptions]="{standalone: true}">
        </textarea>
      </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-12 col-sm-1 col-form-label">Address</label>
        <div class="col-12 col-sm-6">
          <input [(ngModel)]="footer.address" class="form-control">
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-12 col-sm-1 col-form-label">Google maps link</label>
        <div class="col-12 col-sm-6">
          <input [(ngModel)]="footer.addressMapLink" class="form-control">
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-12 col-sm-1 col-form-label">Contact mail</label>
        <div class="col-12 col-sm-6">
          <input [(ngModel)]="footer.mail" class="form-control">
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-12 col-sm-1 col-form-label">Phone number</label>
        <div class="col-12 col-sm-6">
          <input [(ngModel)]="footer.phonenumber" class="form-control">
        </div>
    </div>
  
    <div class="d-flex mt-5 mx-0">
      <button (click)="save()" class="btn bi-floppy-fill btn-sm btn-success me-1"> SAVE</button>
      <button (click)="cancel()" class="btn bi-trash-fill btn-sm btn-danger"> CANCEL</button>
    </div>
</div>
  