<div>
  <div class="snack-container d-flex">
      <div *ngIf="data.snackType === 'success'">
        <mat-icon class="success-icon text-success">check_circle</mat-icon>
      </div>
      <div *ngIf="data.snackType === 'error'">
        <mat-icon class="error-icon text-danger">error</mat-icon>
      </div>
      <div *ngIf="data.snackType === 'warning'">
        <mat-icon class="warning-icon text-warning">warning</mat-icon>
      </div>
      <div *ngIf="data.snackType === 'info'">
        <mat-icon class="info-icon text-info">info</mat-icon>
      </div>
      <span class="d-flexms-3">{{data.message}}</span>
    <button type="button" class="btn-close btn-close-white position-absolute top-50 end-0 translate-middle-y me-4" aria-label="Close" (click)="closeSnackbar()"></button>
  </div>
</div>