<div class="container">
    <h1 class="m-2">Music Administration</h1>
  </div>
  <div class="container-fluid" data-bs-theme="dark">

    <div class="form-group row  mb-3">
      <label class="col-12 col-sm-1 col-form-label">Artist</label>
      <div class="col-12 col-sm-6">
        <ul class="list-group w-75">
          <li class="list-group-item" *ngFor="let artist of artists">
            <input class="form-check-input me-1" type="checkbox" (change)="marked($event)" [(ngModel)]="artist.checked"
              [value]="artist.id">
            <label class="form-check-label">{{artist.name}}</label>
          </li>
        </ul>
      </div>
    </div>

    <div class="form-group row mb-3">
      <label class="col-12 col-sm-1 col-form-label">Song name</label>
      <div class="col-12 col-sm-6">
        <input [(ngModel)]="song.songName" class="form-control w-75">
      </div>
    </div>  
  
    <div class="form-group row mb-5">
      <label class="col-12 col-sm-1 col-form-label">Track Name</label>
      <div class="col-12 col-sm-6">
        <input [(ngModel)]="song.album" class="form-control w-75">
      </div>
    </div>
  
<div class="form-group row mb-3">
    <label class="col-12 col-sm-1 col-form-label">Song</label>
    <div class="col-12 col-sm-6">
      <input (change)="onSongFileSelected($event)" class="form-control w-75" type="file" accept="audio/*">
    </div>
  </div>

  <div class="form-group row mb-3">
    <label class="col-12 col-sm-1 col-form-label">Song Path</label>
    <div class="col-12 col-sm-6">
      <input [(ngModel)]="song.songFilePath" class="form-control w-75">
    </div>
  </div>
  
  <div class="form-group row mb-3">
    <label class="col-12 col-sm-1 col-form-label">Picture</label>
    <div class="col-12 col-sm-6">
      <input (change)="onPictureFileSelected($event)" class="form-control w-75" type="file" accept="image/*">
    </div>
  </div>

  <div class="form-group row mb-3">
    <label class="col-12 col-sm-1 col-form-label">Song Picture Path</label>
    <div class="col-12 col-sm-6">
      <input [(ngModel)]="song.songPicturePath" class="form-control w-75">
    </div>
  </div>
    
    <div class="d-flex mt-5 mx-0">
      <button (click)="save()" class="btn bi-floppy-fill btn-sm btn-success me-1"> SAVE</button>
      <button (click)="cancel()" class="btn bi-trash-fill btn-sm btn-danger"> CANCEL</button>
    </div>
  </div>
  
  <div class="container mt-2 mb-2">
  </div>
  
  
  <div class="container-fluid" data-bs-theme="dark">
    <div class="table-responsive">
      <div class="table-wrapper">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="fw-medium">Actions</th>
              <th class="fw-medium">Id</th>
              <th class="fw-medium">Song Name</th>
              <th class="fw-medium">Artist</th>
              <th class="fw-medium">Album</th>
              <th class="fw-medium">Song Path</th>
              <th class="fw-medium">Picture Path</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr *ngFor="let song of songs">
              <td>
                <div class="d-flex justify-content-start">
                  <button (click)="edit(song)" class="btn bi-gear-fill btn-sm btn-success me-1"> EDIT</button>
                  <button (click)="delete(song)" class="btn bi-trash-fill btn-sm btn-danger"> DELETE</button>
                </div>
              </td>
              <td>{{ song.id }}</td>
              <td>{{ song.songName }}</td>
              <td>
                <table><tr *ngFor="let art of song.artist;">
                  <td class="name">
                      {{art.name}}
                  </td>
                 </tr></table>  
              </td>
              <td>{{ song.album }}</td>
              <td>{{ song.songFilePath }}</td>
              <td>{{ song.songPicturePath }}</td>
          </tbody>
        </table>
      </div>
    </div>
  </div>