<!-- News -->
<div class="m-5">
    <div class="d-flex justify-content-around col-md-12">
        <div class="display-4 fw-medium mt-">NEWS</div>
    </div>
</div>
<div class="container mt-5" style="width: 80%;">
    <div class="d-flex flex-column">
        <div *ngFor="let anews of news" class="mb-4 custom-row">
            <div class="card bg-dark text-light">
                <div class="card-body" (click)="navigateToNews(anews.id)">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2 class="card-title mt-3">{{ anews.title }}</h2>
                        <a *ngIf="this.anews.newsLikes.length">
                            <a  class="lock" *ngIf="!isIdInArray(this.anews, currentUserId)">
                                <h1 class="bi bi-hand-thumbs-up mt-3" style="font-size: 30px"></h1>
                                <h1 class="bi bi-hand-thumbs-up-fill mt-3" style="font-size: 30px" (click)="toggleLike(this.anews); $event.stopPropagation()"></h1>
                            </a>
                            <h1 *ngIf="isIdInArray(this.anews, currentUserId)" class="bi bi-hand-thumbs-up-fill mt-3" style="font-size: 30px" (click)="toggleLike(this.anews); $event.stopPropagation()"></h1>
                        </a>
                        <a class="lock"*ngIf="!this.anews.newsLikes.length">
                            <h1 class="bi bi-hand-thumbs-up mt-3" style="font-size: 30px"></h1>
                            <h1 class="bi bi-hand-thumbs-up-fill mt-3" style="font-size: 30px" (click)="toggleLike(this.anews); $event.stopPropagation()"></h1>
                        </a>
                    </div>
                    <p class="card-text">{{ anews.text }}</p>
                    <h6 class="card-subtitle small mt-3">{{ anews.dateTime | date: 'dd MMM yyyy, HH:mm' }}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="g-4 m-5 align-content-center" *ngIf="this.news.length <= 0">
    <div class="card bg-dark text-light">
      <div class="card-body text-center">
        <h2>No News are available at the moment come back later!</h2>
      </div>
    </div>
</div>
