.card-body:hover {
    background: #333333;
    border-radius: 5px;
}

.lock:hover .bi-hand-thumbs-up,
.lock .bi-hand-thumbs-up-fill {
    display: none;
    color: #198754
}
.lock:hover .bi-hand-thumbs-up-fill {
    display: inline;
}

.bi-hand-thumbs-up-fill {
    color: #198754
}