<div class="m-5">
  <div class="d-flex justify-content-around col-md-12">
    <div class="display-4 fw-medium mt-2">MUSIC PLAYER</div>
  </div>
</div>

<div class="m-5 text-center">
  <button class="btn btn-sm btn-outline-success" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" 
  aria-controls="offcanvasScrolling">Artists <i class="bi bi-music-note-list" style="font-size: 1.6rem;"></i></button>
</div>

<!--Offcanvas artists-->
<div class="offcanvas offcanvas-end bg-dark rounded" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
  id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    <h2 class="offcanvas-title" id="offcanvasScrollingLabel">Artist list</h2>
    <h3></h3>
  </div>
  <div class="offcanvas-body">
    <div *ngFor="let artist of artists">
      <div class="card h-10 w-auto bg-dark text-light" [routerLink]="['/artist', artist.id]"
        style="display: grid; grid-template-rows: auto 1fr; max-width: 400px; cursor: pointer !important;">
        <div class="card-header d-flex justify-content-center">
          <a *ngIf="artist.picturePath">
            <img src="https://protonedmusic.com/{{ artist.picturePath }}" class="rounded-2"
              style="width: 20rem; height: 20rem">
          </a>
          <a *ngIf="!artist.picturePath">
            <img src="../../../assets/img/Error.jpg" class="rounded-2" style="width: 20rem; height: 20rem">
          </a>
        </div>
        <div class="card-body" style="display: flex; flex-direction: column; min-width: 20px;">
          <div class="align-items-start">
            <h2>{{artist.name}}</h2>

            <h4 class="text-truncate" style="max-width: 200px;">{{artist.info}}</h4>
            <div class="float">
              <a class="text fw-bold me-2" *ngFor="let link of artist.links" href="{{link.linkAddress}}" target="_blank"
                (click)="$event.stopPropagation()">{{link.title}}</a>
            </div>
            <div class="d-flex justify-content-between">
              <div class="d-flex">
                <p class="text-success fw-bold me-2" *ngFor="let song of artist.songs">{{ song.songName }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="this.files.length > 0">
  <div class="d-flex justify-content-center">
    <div class="card-body">
      <div class="d-flex justify-content-center mb-3" *ngIf="this.currentPicture != '../../../assets/img/1.png'">
        <img src="https://protonedmusic.com/{{this.currentPicture}}" class="card-img" style="height: 20rem;">
      </div>
      <h5 class="card-title d-flex justify-content-center">Current song: <p *ngIf="this.currentSongName" class="card-text ms-2"> {{this.currentSongName}} by {{this.currentArtist}}
      </p></h5>
      <div id="Duration" class="d-flex justify-content-center">
        {{ state?.readableCurrentTime }}
        <mat-slider style="width: 220px;" class="time-slider" min="0" [max]="state?.duration" step="1" [disabled]="state?.error || currentFile.index === undefined" #ngSlider>
          <input matSliderThumb [value]="state?.currentTime" (input)="onSliderChangeEnd({source: ngSliderThumb, parent: ngSlider, value: ngSliderThumb.value})" #ngSliderThumb="matSliderThumb" />
        </mat-slider>
        {{ state?.readableDuration }}
      </div>
      <div class="d-flex mt-2 mx-0 mb-4 justify-content-center">
        <button (click)="previous()" [disabled]="isFirstPlaying()" class="btn btn-lg bi-skip-backward-circle-fill text-success rounded-5 m-0 p-0 me-1"></button>
        <button (click)="play()" [disabled]="state?.error" *ngIf="!state?.playing" (click)="play()" class="btn btn-lg bi-play-circle-fill text-success rounded-5 m-0 p-0 me-1"></button>
        <button (click)="pause()" *ngIf="state?.playing" class="btn btn-lg bi-pause-circle-fill text-success rounded-5 m-0 p-0 me-1"></button>
        <button (click)="next()" [disabled]="isLastPlaying()" class="btn btn-lg bi-skip-forward-circle-fill text-success rounded-5 m-0 p-0"></button>
        <div class="d-flex ms-3 justify-content-center">
          <a *ngIf="ngSliderThumb2.value >= 50" class="bi-volume-up-fill m-0 p-0 text-success" style="font-size: 1.5rem; align-self: center;"></a>
          <a *ngIf="ngSliderThumb2.value <= 49 && ngSliderThumb2.value >= 1" class="bi-volume-down-fill m-0 p-0 text-success" style="font-size: 1.5rem; align-self: center;"></a>
          <a *ngIf="ngSliderThumb2.value == 0" class="bi-volume-mute-fill m-0 p-0 text-secondary" style="font-size: 1.5rem; align-self: center;"></a>
          <mat-slider class="volume-slider" min="0" max="100" step="1" discrete>
            <input id="volumeThumb" matSliderThumb #slider [value]="volume" (input)="volumeChange(ngSliderThumb2.value)" #ngSliderThumb2="matSliderThumb">
          </mat-slider>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" data-bs-theme="dark" *ngIf="this.files.length > 0">
  <div class="table-responsive">
    <div class="table-wrapper">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="fw-medium">Play</th>
            <th class="fw-medium">Title</th>
            <th class="fw-medium">Artist</th>
            <th class="fw-medium">Album</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let file of files; let i = index;">
            <td>
              <div class="d-flex justify-content-start">
                <button (click)="openFile(file, i)" class="btn btn-lg bi-play-btn-fill text-success m-0 p-0" style="font-size: 1.8rem;"></button>
              </div>
            </td>
            <td>{{ file.songName }}</td>
            <td>
              <table><tr *ngFor="let art of file.artist;">
                <td class="name">
                    {{art.name}}
                </td>
               </tr></table>
            </td>
            <td>{{file.album}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="g-4 m-5 align-content-center" *ngIf="this.checkEmpty == true">
  <div class="card bg-dark text-light">
    <div class="card-body text-center">
      <h2>No music is available right now check back later!</h2>
    </div>
  </div>
</div>

