<div class="m-5">
  <div class="d-flex justify-content-around col-md-12">
    <div class="display-4 fw-medium mt-2">MUSIC PLAYER</div>
  </div>
</div>
<div class="g-4 m-5 align-content-center" *ngIf="this.files.length <= 0">
  <div class="card bg-dark text-light">
    <div class="card-body text-center">
      <h2>No Music is available at the moment come back later!</h2>
    </div>
  </div>
</div>
<div class="container-fluid" *ngIf="this.files.length > 0">
  <div class="d-flex justify-content-center">
    <div class="card-body">
      <div class="d-flex justify-content-center mb-3">
        <img src="https://protonedmusic.com/{{ this.currentPicture }}" class="card-img">
      </div>
      <h5 class="card-title d-flex justify-content-center">Current song: <p *ngIf="this.currentSongName" class="card-text ms-2"> {{this.currentSongName}} by {{this.currentArtist}}</p></h5>
      <div id="Duration" class="d-flex justify-content-center">
        {{ state?.readableCurrentTime }}
        <mat-slider style="width: 250px;" class="time-slider" min="0" [max]="state?.duration" step="1" [disabled]="state?.error || currentFile.index === undefined" #ngSlider>
          <input matSliderThumb [value]="state?.currentTime" (input)="onSliderChangeEnd({source: ngSliderThumb, parent: ngSlider, value: ngSliderThumb.value})" #ngSliderThumb="matSliderThumb" />
        </mat-slider>
        {{ state?.readableDuration }}
      </div>
      <div class="d-flex mt-2 mx-0 mb-4 justify-content-center">
        <button (click)="previous()" [disabled]="isFirstPlaying()" class="btn btn-lg bi-skip-backward-circle-fill text-success rounded-5 m-0 p-0 me-1"></button>
        <button (click)="play()" [disabled]="state?.error" *ngIf="!state?.playing" (click)="play()" class="btn btn-lg bi-play-circle-fill text-success rounded-5 m-0 p-0 me-1"></button>
        <button (click)="pause()" *ngIf="state?.playing" class="btn btn-lg bi-pause-circle-fill text-success rounded-5 m-0 p-0 me-1"></button>
        <button (click)="next()" [disabled]="isLastPlaying()" class="btn btn-lg bi-skip-forward-circle-fill text-success rounded-5 m-0 p-0"></button>
        <div class="d-flex ms-3 justify-content-center">
          <a *ngIf="ngSliderThumb2.value >= 50" class="bi-volume-up-fill m-0 p-0 text-success" style="font-size: 1.5rem; align-self: center;"></a>
          <a *ngIf="ngSliderThumb2.value <= 49 && ngSliderThumb2.value >= 1" class="bi-volume-down-fill m-0 p-0 text-success" style="font-size: 1.5rem; align-self: center;"></a>
          <a *ngIf="ngSliderThumb2.value == 0" class="bi-volume-mute-fill m-0 p-0 text-secondary" style="font-size: 1.5rem; align-self: center;"></a>
          <mat-slider class="volume-slider" min="0" max="100" step="1" discrete>
            <input id="volumeThumb" matSliderThumb #slider [value]="volume" (input)="volumeChange(ngSliderThumb2.value)" #ngSliderThumb2="matSliderThumb">
          </mat-slider>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" data-bs-theme="dark" *ngIf="this.files.length > 0">
  <div class="table-responsive">
    <div class="table-wrapper">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="fw-medium">Play</th>
            <th class="fw-medium">Title</th>
            <th class="fw-medium">Artist</th>
            <th class="fw-medium">Album</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let file of files; let i = index;">
            <td>
              <div class="d-flex justify-content-start">
                <button (click)="openFile(file, i)" class="btn btn-lg bi-play-btn-fill text-success m-0 p-0" style="font-size: 1.8rem;"></button>
              </div>
            </td>
            <td>{{ file.songName }}</td>
            <td>{{file.artist}}</td>
            <td>{{file.album}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
