<div class="container">
  <h1 class="m-2">User administration</h1>
</div>

<div class="container-fluid" data-bs-theme="dark">
  <div class="form-group row mb-3">
    <label class="col-12 col-sm-1 col-form-label">First name</label>
    <div class="col-12 col-sm-6">
      <input [(ngModel)]="user.firstName" class="form-control w-75">
    </div>
  </div>

    <div class="form-group row mb-3">
      <label class="col-12 col-sm-1 col-form-label">Last name</label>
      <div class="col-12 col-sm-6">
        <input [(ngModel)]="user.lastName" class="form-control w-75">
    </div>
  </div>

  <div class="form-group row mb-3">
    <label class="col-12 col-sm-1 col-form-label">Email</label>
    <div class="col-12 col-sm-6">
      <input [(ngModel)]="user.email" class="form-control w-75">
    </div>
  </div>

  <div class="form-group row mb-3">
    <label class="col-12 col-sm-1 col-form-label">Password</label>
    <div class="col-12 col-sm-6">
      <input [(ngModel)]="user.password" class="form-control w-75">
    </div>
  </div>

  <div class="form-group row mb-3">
    <label class="col-12 col-sm-1 col-form-label">Address</label>
    <div class="col-12 col-sm-6">
      <input [(ngModel)]="user.address" class="form-control w-75">
    </div>
  </div>

  <div class="form-group row mb-3">
    <label class="col-12 col-sm-1 col-form-label">City</label>
    <div class="col-12 col-sm-6">
      <input [(ngModel)]="user.city" class="form-control w-75">
    </div>
  </div>
  
  <div class="form-group row mb-3">
    <label class="col-12 col-sm-1 col-form-label">Postal</label>
    <div class="col-12 col-sm-6">
      <input [(ngModel)]="user.postal" class="form-control w-75">
    </div>
  </div>

  <div class="form-group row mb-3">
    <label class="col-12 col-sm-1 col-form-label">Country</label>
    <div class="col-12 col-sm-6">
      <input [(ngModel)]="user.country" class="form-control w-75">
    </div>
  </div>

  <div class="form-group row mb-3">
    <label class="col-12 col-sm-1 col-form-label">Role</label>
    <div class="col-12 col-sm-6">
      <div class="dropdown">
        <select [(ngModel)]="user.role" class="form-select w-75">
          <option class="dropdown-item" *ngFor="let role of roles" [ngValue]="role.name">{{ role.name }}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="form-group row mb-3">
    <label class="col-12 col-sm-1 col-form-label">Subscription Role</label>
    <div class="col-12 col-sm-6">
      <div class="dropdown">
        <select [(ngModel)]="user.addonRoles" class="form-select w-75">
          <option class="dropdown-item" *ngFor="let addonrole of addonRoles" [ngValue]="addonrole.name">{{ addonrole.name }}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="form-group row mb-3">
    <label class="col-12 col-sm-1 col-form-label">Image</label>
    <div class="col-12 col-sm-6">
      <form (ngSubmit)="uploadImage()" #imageUploadForm class="form-control w-75">
        <input class="form-control" type="file" (change)="onFileSelected($event)" name="fileInput" accept="image/*" />
        <button type="submit" class="btn btn-sm btn-success">Upload Image</button>
      </form>
    </div>
  </div>
  
  <div class="d-flex mt-5 mx-0">
    <button (click)="save()" class="btn bi-floppy-fill btn-sm btn-success me-1"> SAVE</button>
    <button (click)="cancel()" class="btn bi-trash-fill btn-sm btn-danger"> CANCEL</button>
  </div>
</div>

<div class="container mt-2 mb-2">
</div>


<div class="container-fluid" data-bs-theme="dark">
  <div class="table-responsive">
    <div class="table-wrapper">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="fw-medium">Actions</th>
            <th class="fw-medium">Id</th>
            <th class="fw-medium">Mail</th>
            <th class="fw-medium">First name</th>
            <th class="fw-medium">Last name</th>
            <th class="fw-medium">Address</th>
            <th class="fw-medium">City</th>
            <th class="fw-medium">Postal</th>
            <th class="fw-medium">Country</th>
            <th class="fw-medium">Picture Path</th>
            <th class="fw-medium">Role</th>
            <th class="fw-medium">Newsletter </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>
              <div class="d-flex justify-content-start">
                <button (click)="edit(user)" class="btn bi-gear-fill btn-sm btn-success"> EDIT</button>
              </div>
            </td>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.city }}</td>
            <td>{{ user.postal}}</td>
            <td>{{ user.country}}</td>
            <td>{{ user.profilePicturePath }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.addonRoles }}</td>
        </tbody>
      </table>
    </div>
  </div>
</div>