<h1>Bruger Administration</h1>

<div class="container-fluid">
<div class="form-group row">
  <label class="col-sm-2 col-form-label">First name</label>
  <div class="col-sm-10">
    <input [(ngModel)]="user.firstName" class="form-control w-75">
  </div>
</div>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input [(ngModel)]="user.email" class="form-control w-75">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Address</label>
    <div class="col-sm-10">
      <input [(ngModel)]="user.address" class="form-control w-75">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input [(ngModel)]="user.password" class="form-control w-75">
    </div>
  </div>



  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Roller</label>
    <div class="col-sm-10 ">
      <select [(ngModel)]="user.role" class="form-control w-75">
        <option class="dropdown-item" *ngFor="let role of roles" [ngValue]="role">{{ role.name }}</option>
      </select>
    </div>
  </div>

<button (click)="save()" class="btn btn-sm btn-success">Gem</button>
<button (click)="cancel()" class="btn btn-sm btn-default">Annuller</button>
</div>

<table class="table table-striped table-hover mt-5">
  <thead>
    <tr>
      <th style="width:20px;">Actions</th>
      <th style="width:40px;">Id</th>
      <th style="width:100px;">Mail</th>
      <th style="width:100px;">First name</th>
      <th style="width:100px;">Last name</th>
      <th style="width:100px;">Address</th>
      <th style="width:80px;">City</th>
      <th style="width:40px;">Postal</th>
      <th style="width:40px;">Country</th>
      <th style="width:40px;">Role</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let user of users">
      <td>
        <button (click)="edit(user)" class="btn btn-sm btn-primary">Ret</button>
      </td>
      <td>{{ user.id }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.address }}</td>
      <td>{{ user.city }}</td>
      <td>{{ user.postal}}</td>
      <td>{{ user.country}}</td>
      <td>{{ user.role }}</td>
    </tr>
  </tbody>
</table>