<div class="container">
  <h1 class="m-2">User Administration</h1>
</div>

<div class="container-fluid" data-bs-theme="dark">
  <div class="form-group row mb-3">
    <label class="col-12 col-sm-1 col-form-label">First name</label>
    <div class="col-12 col-sm-6">
      <input [(ngModel)]="user.firstName" class="form-control w-75">
    </div>
  </div>

  <div class="form-group row mb-3">
    <label class="col-12 col-sm-1 col-form-label">Email</label>
    <div class="col-12 col-sm-6">
      <input [(ngModel)]="user.email" class="form-control w-75">
    </div>
  </div>

  <div class="form-group row mb-3">
    <label class="col-12 col-sm-1 col-form-label">Address</label>
    <div class="col-12 col-sm-6">
      <input [(ngModel)]="user.address" class="form-control w-75">
    </div>
  </div>

  <div class="form-group row mb-3">
    <label class="col-12 col-sm-1 col-form-label">Password</label>
    <div class="col-12 col-sm-6">
      <input [(ngModel)]="user.password" class="form-control w-75">
    </div>
  </div>

  <div class="form-group row mb-3">
    <label class="col-12 col-sm-1 col-form-label">Role</label>
    <div class="col-12 col-sm-6">
      <div class="dropdown">
        <select [(ngModel)]="user.role" class="form-control w-75">
          <option class="dropdown-item" *ngFor="let role of roles" [ngValue]="role">{{ role.name }}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="d-flex mt-5 mx-0">
    <button (click)="save()" class="btn bi-floppy-fill btn-sm btn-success me-1">SAVE</button>
    <button (click)="cancel()" class="btn bi-trash-fill btn-sm btn-danger">CANCEL</button>
  </div>
</div>

<div class="container mt-2 mb-2">
</div>


<div class="container-fluid" data-bs-theme="dark">
  <div class="table-responsive">
    <div class="table-wrapper">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Actions</th>
            <th>Id</th>
            <th>Mail</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Address</th>
            <th>City</th>
            <th>Postal</th>
            <th>Country</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>
              <div class="d-flex justify-content-start">
                <button (click)="edit(user)" class="btn bi-gear-fill btn-sm btn-success">EDIT</button>
              </div>
            </td>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.city }}</td>
            <td>{{ user.postal}}</td>
            <td>{{ user.country}}</td>
            <td>{{ user.role }}</td>
        </tbody>
      </table>
    </div>
  </div>
</div>