<div class="container">
    <h1 class="m-2">News administration </h1>
  </div>
  
  <div class="container-fluid" data-bs-theme="dark">
    <div class="form-group row mb-3">
      <label class="col-12 col-sm-1 col-form-label">TitelName</label>
      <div class="col-12 col-sm-6">
        <input [(ngModel)]="anews.title" [ngModelOptions]="{standalone: true}" class="form-control">
      </div>
    </div>
  
    <div class="form-group row mb-3">
      <label for="datepicker" class="col-12 col-sm-1 col-form-label">Sending Date</label>
      <div class="col-12 col-sm-6">
        <input type="datetime-local" [(ngModel)]="anews.dateTime" class="form-control">
      </div>
    </div>

    <div class="form-group row mb-3">
      <label class="col-12 col-sm-1 col-form-label">Message</label>
      <div class="col-12 col-sm-6">
        <textarea style="resize: none;" class="form-control" rows="4" maxlength="500" [(ngModel)]="anews.text"
          [ngModelOptions]="{standalone: true}">
        </textarea>
      </div>
    </div>
  
    <div class="d-flex mt-5 mx-0">
      <button (click)="save()" class="btn bi-floppy-fill btn-sm btn-success me-1"> SAVE</button>
      <button (click)="cancel()" class="btn bi-trash-fill btn-sm btn-danger"> CANCEL</button>
    </div>
  </div>
  
  <div class="container mt-2 mb-2">
  </div>
  
  <div class="container-fluid" data-bs-theme="dark">
    <div class="table-responsive">
      <div class="table-wrapper">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Actions</th>
              <th>Id</th>
              <th>Title</th>
              <th>Messsage</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let anews of news;">
              <td>
                <div class="d-flex justify-content-start">
                  <button (click)="editNews(anews)" class="btn bi-gear-fill btn-sm btn-success me-1"> EDIT</button>
                  <button (click)="deleteNews(anews)" class="btn bi-trash-fill btn-sm btn-danger"> DELETE</button>
                </div>
              </td>
              <td>{{ anews.id }}</td>
              <td>{{ anews.title }}</td>
              <td class="text-truncate" style="max-width: 150px;">{{ anews.text }}</td>
              <td>{{ anews.dateTime | date:"dd MMM yyyy, HH:mm" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  