<div class="container-fluid w-100  mt-5">
    <div class="row row-cols-auto row-cols-lg-2 g-4 m-5">
        <div class="col">
            <div class="card text-bg-dark" *ngIf="events.eventPicturePath">
                <img class="card-img" src="https://protonedmusic.com/{{ events.eventPicturePath }}" alt="Product Image">
            </div>
            <div class="card text-bg-dark" *ngIf="!events.eventPicturePath">
                <img class="card-img" src="../../../assets/img/Error.jpg" alt="Product Image">
            </div>
        </div>
        <div class="col">
            <h1 class="fs-1 fw-semibold">{{events.title}}</h1>

            <div class="mt-5">
                <p class="fw-medium">
                    {{events.description}}
                </p>
            </div>
            
            <hr class="border-success border-2 opacity-25 mt-5 mb-4">

            <div class="row row-cols-2">
                <div class="col">
                    <span class="badge fs-4 fw-medium">{{events.price | currency: 'DKK '}}</span>
                </div>
                <div class="col">
                    <a type="button" class="btn bi-bag-check-fill btn-outline-success float-end" (click)="addToCart(events)"> Add to basket</a>
                </div>
            </div>
        </div>
    </div>
</div>
