<div class="container mt-5" *ngIf="cartItems.length">
    <div class="table-responsive">
      <h1 class="fs-3 fw-medium">CART</h1>
      <table class="table table-dark">
          <thead>
              <tr>
                  <th class="d-none d-md-table-cell">Image</th>
                  <th>Name</th>
                  <th>Amount</th>
                  <th>Quantity</th>
                  <th>Total</th>
                  <th></th>
                  <th>Update Amount</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let cart of cartItems">
                <!--Skjuler billedet kun på telefonen-->
                  <td class="d-none d-md-table-cell">
                    <a *ngIf="cart.picturePath">
                        <img src="https://protonedmusic.com/{{ cart.picturePath }}" style="width: 40%; height: 10rem;">
                    </a>
                    <a *ngIf="!cart.picturePath">
                        <img src="../../../assets/img/img400.png" style="width: 25%; height: 40%; height: 10rem;">
                    </a>
                  </td>
                  <td class="align-middle">{{ cart.name }}</td>
                  <td class="align-middle">{{ cart.price.toLocaleString('da-DK')}} DKK</td>
                  <td class="align-middle">{{ cart.quantity }}</td>
                  <td class="align-middle">
                      {{ formatCurrency(cart.price * cart.quantity)}}
                  </td>
                  <td>
                    <button class="btn btn-sm"></button>
                  </td>
                  <td class="align-middle">
                      <input [(ngModel)]="cart.quantity" (ngModelChange)="updateCart(cart)" type="number" min="0" style="width: 55px" />
                  </td>
                  <td class="align-middle">
                      <button (click)="removeItem(cart)" class="btn btn-danger btn-sm">X</button>
                  </td>
              </tr>
          </tbody>
      </table>
      <button class="btn btn-success btn-sm float-end mb-3" (click)="buyCartItems()">PROCEED PURCHASE</button>
      <button (click)="clearCart()" class="btn btn-danger btn-sm float-end me-2">
        EMPTY BASKET
      </button>
    <button class="btn btn-sm btn-success float-start" [routerLink]="['/merchandise']">Back</button>
  </div>
</div>
<div class="container mt-5" *ngIf="!cartItems.length">
    <p class="text-center"> Your cart is empty
        <button class="btn btn-outline-success btn-sm " routerLink="/merchandise">Start Shopping</button>
      </p>
</div>
