/* .flex-nowrap {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
 */
 .img {
    max-width: 100%;
    height: 100%;
}

.overlay-text {
    color: #ffffff; /* Set the font color */
    font-weight: bold; /* Optionally make the text bold for added thickness */
    text-shadow:
    -2px -2px 0 var(--green-color),
    2px -2px 0 var(--green-color),
    -2px 2px 0 var(--green-color),
    2px 2px 0 var(--green-color);
  }