<div class="container">
    <h1 class="m-2">Frontpage Post Administration</h1>
  </div>
  
  <div class="container-fluid" data-bs-theme="dark">
    <div class="form-group row mb-3">
      <label class="col-12 col-sm-1 col-form-label">Text</label>
      <div class="col-12 col-sm-6">
        <input [(ngModel)]="post.text" class="form-control w-75">
      </div>
    </div>
  
    <div class="form-group row">
        <label class="col-12 col-sm-1 col-form-label">Banner Formations</label>
        <div class="col-12 col-sm-6">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let banner of banners">
              <input class="form-check-input me-1" type="radio" name="category" [(ngModel)]="post.banner" [value]="banner.name">
              <label class="form-check-label">
                <i *ngIf="banner.name === 'LeftBanner'" class="bi bi-text-left"></i>
                <i *ngIf="banner.name === 'RightBanner'" class="bi bi-text-right"></i>
                <i *ngIf="banner.name === 'MiddleBanner'" class="bi bi-text-center"></i>
                {{ banner.name }}
              </label>
            </li>
          </ul>
        </div>
      </div>
      
      
  
    <div class="form-group row mb-3">
      <label class="col-12 col-sm-1 col-form-label">Image</label>
      <div class="col-12 col-sm-6">
        <form (ngSubmit)="uploadImage()" #imageUploadForm class="form-control w-75">
          <input class="form-control" type="file" (change)="onFileSelected($event)" name="fileInput" accept="image/*" />
          <button type="submit" class="btn btn-sm btn-success">Upload Image</button>
        </form>
      </div>
    </div>
    
    <div class="d-flex mt-5 mx-0">
      <button (click)="save()" class="btn bi-floppy-fill btn-sm btn-success me-1"> SAVE</button>
      <button (click)="cancel()" class="btn bi-trash-fill btn-sm btn-danger"> CANCEL</button>
    </div>
  </div>
  
  <div class="container mt-2 mb-2">
  </div>
  
  
  <div class="container-fluid" data-bs-theme="dark">
    <div class="table-responsive">
      <div class="table-wrapper">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Actions</th>
              <th>Id</th>
              <th>Text</th>
              <th>Picture Path</th>
              <th>Banner</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let post of frontpagePosts">
              <td>
                <div class="d-flex justify-content-start">
                  <button (click)="edit(post)" class="btn bi-gear-fill btn-sm btn-success"> EDIT</button>
                </div>
              </td>
              <td>{{ post.id }}</td>
              <td>{{ post.text }}</td>
              <td>{{ post.frontpagePicturePath }}</td>
              <td>{{ post.banner }}</td>
          </tbody>
        </table>
      </div>
    </div>
  </div>