<nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-bs-target="dark">
  <div class="container-fluid">
    <a [routerLink]="['']"><img class="navbar-brand" src="../../../assets/img/ProtonedMusicLogo.png" style="max-height: 80px; width: 150px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link bi-house-door-fill" [routerLink]="['']" routerLinkActive="router-link-active" routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact:true}" (click)="collapseNavbar()"> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bi-newspaper" [routerLink]="['/news']" routerLinkActive="router-link-active"
          routerLinkActive="active-link" (click)="collapseNavbar()"> News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bi-calendar2-week-fill" [routerLink]="['/events']" routerLinkActive="router-link-active"
          routerLinkActive="active-link" (click)="collapseNavbar()"> Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bi-music-note-beamed" [routerLink]="['/music']" routerLinkActive="router-link-active"
          routerLinkActive="active-link" (click)="collapseNavbar()"> Music</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bi-calendar2-event-fill" [routerLink]="['/upcoming']" routerLinkActive="router-link-active"
          routerLinkActive="active-link" (click)="collapseNavbar()"> Upcoming</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bi-bag-fill" [routerLink]="['/merchandise']" routerLinkActive="router-link-active"
          routerLinkActive="active-link" (click)="collapseNavbar()"> Merchandise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bi-people-fill" [routerLink]="['/family']" routerLinkActive="router-link-active"
            routerLinkActive="active-link" (click)="collapseNavbar()" *ngIf="currentUser.role == 'Family' || currentUser.role == 'Admin'"> Family</a>
          </li>
        <li class="nav-item">
          <a class="nav-link bi-person-fill-gear" [routerLink]="['/admin']" routerLinkActive="router-link-active"
            routerLinkActive="active-link" (click)="collapseNavbar()" *ngIf="currentUser.role == 'Admin'"> Admin panels</a>
          </li>
      </ul>
      <form class="d-flex">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <p-avatar *ngIf="avatarCheck(currentUser.role, currentUser.profilePicturePath) == 2" label="{{avatarLetterCheck(currentUser.firstName, currentUser.profilePicturePath)}}" styleClass="mr-2" size="large" shape="circle" [routerLink]="['profilmenu', currentUser.id]" (click)="collapseNavbar()"></p-avatar>
            <p-avatar *ngIf="avatarCheck(currentUser.role, currentUser.profilePicturePath) == 1" image="https://protonedmusic.com/{{currentUser.profilePicturePath}}" size="large" styleClass="mr-2" siz shape="circle" [routerLink]="['profilmenu', currentUser.id]" (click)="collapseNavbar()"></p-avatar>
            <a *ngIf="currentUser.role == null" [routerLink]="['/login']" class="btn btn-outline-success me-2" (click)="collapseNavbar()">LOG IND</a>
          </li>
        </ul>
      </form>
    </div>