<nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-bs-target="dark">
  <div class="container-fluid">
    <a [routerLink]="['']"><img class="navbar-brand" src="../../../assets/img/ProtonedMusicLogo.png" style="max-height: 80px; width: 150px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link bi-house-door-fill" [routerLink]="['']" routerLinkActive="router-link-active" routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact:true}" (click)="collapseNavbar()"> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bi-newspaper" [routerLink]="['/news']" routerLinkActive="router-link-active"
          routerLinkActive="active-link" (click)="collapseNavbar()"> News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bi-calendar2-week-fill" [routerLink]="['/events']" routerLinkActive="router-link-active"
          routerLinkActive="active-link" (click)="collapseNavbar()"> Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bi-music-note-beamed" [routerLink]="['/music']" routerLinkActive="router-link-active"
          routerLinkActive="active-link" (click)="collapseNavbar()"> Music</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bi-calendar2-event-fill" [routerLink]="['/upcoming']" routerLinkActive="router-link-active"
          routerLinkActive="active-link" (click)="collapseNavbar()"> Upcoming</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bi-bag-fill" [routerLink]="['/merchandise']" routerLinkActive="router-link-active"
          routerLinkActive="active-link" (click)="collapseNavbar()"> Merchandise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bi-people-fill" [routerLink]="['/family']" routerLinkActive="router-link-active"
            routerLinkActive="active-link" (click)="collapseNavbar()" *ngIf="currentUser.role == 'Family'"> Family</a>
          </li>
        <li class="nav-item">
          <a class="nav-link bi-person-fill-gear" [routerLink]="['/admin']" routerLinkActive="router-link-active"
            routerLinkActive="active-link" (click)="collapseNavbar()" *ngIf="currentUser.role == 'Admin'"> Admin panels</a>
          </li>
      </ul>
      <form class="d-flex">
        <ul class="navbar-nav mx-auto">
          <div class="row row-cols-auto row-cols-2">
            <div class="col pb-0">
                <div [routerLink]="['/cart']" class="btnImg btn-group me-2 flex-column align-items-center align-self-center">
                  <span class="position-absolute start-50 translate-middle badge rounded-pill bg-danger mt-1 ms-4"
                  style="font-size: 0.8rem;">{{CartItemTotal()}}</span>
                  <i class="bi bi-cart3" style="font-size: 2rem;"></i>
                  <p class="Total fw-medium m-0" style="font-size: 0.9rem;">{{ CartTotal().toLocaleString('da-DK')}} DKK</p>
                </div>
            </div>
            <div class="col pb-0">
              <div class="d-flex justify-content-center">
                <p-avatar *ngIf="avatarCheck(currentUser) == 'Letter'" label="{{avatarLetterCheck(currentUser.firstName)}}" styleClass="mr-2" size="large" shape="circle" [routerLink]="['profilmenu', currentUser.id]" (click)="collapseNavbar()"></p-avatar>
                <p-avatar *ngIf="avatarCheck(currentUser) == 'PicPath'" image="https://protonedmusic.com/{{currentUser.profilePicturePath}}" size="large" styleClass="mr-2" shape="circle" [routerLink]="['profilmenu', currentUser.id]" (click)="collapseNavbar()"></p-avatar>
                <p-avatar *ngIf="avatarCheck(currentUser) == 'Nothing'" icon="bi-person-fill" size="large" styleClass="mr-2" shape="circle" [routerLink]="['profilmenu', currentUser.id]" (click)="collapseNavbar()"></p-avatar>
                <p-avatar *ngIf="currentUser.role == null" [routerLink]="['/login']" size="large" shape="circle" (click)="collapseNavbar()" styleClass="mr-2" icon="bi bi-person-fill-lock"></p-avatar>
              </div>
            </div>
          </div>
        </ul>
      </form>
    </div>