<div class="sm-col LeftBanner" style="background-image: url('../../../assets/img/bannerLogo.jpg');">
    <h1>Protoned Music</h1>
</div>

<div class="sm-col RightBanner" style="background-image: url('../../../assets/img/bannerLogo2.jpg');">
  <h1>Lorem ipsum dolor, sit amet consectetur<br> adipisicing elit. Illo vel omnis sunt dolores, voluptas <br></h1>
</div>

<div class="sm-col MiddleBanner" style="background-image: url('../../../assets/img/bannerLogo3.jpg');">
  <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Commodi facere aut, voluptatum doloribus veniam!</h1>
</div>
