<div mat-dialog class="rounded-5">
  <div mat-dialog-title class="m-2">
    <h2 class="text-light">{{data.title}}</h2>
  </div>
  <div mat-dialog-title class="m-2">
    <img src="https://protonedmusic.com/{{ data.img }}" alt="" style="max-width: 150px; max-height: 150px;">
  </div>
    <div mat-dialog-content>
      <h4 class="text-light m-2">{{ data.message }}</h4>
    </div>
    <div mat-dialog-content>
      <h4 class="text-light m-2">{{ data.secondMessage }}</h4>
    </div>
    <div mat-dialog-actions class="m-2">
      <button mat-button (click)="dialogRef.close(true)" class="btn btn-success me-2">{{data.confirmYes}}</button>
      <button mat-button (click)="dialogRef.close(false)" class="btn btn-danger">{{data.confirmNo}}</button>
    </div>
</div>
<!--Push it to the limit-->
