<!-- <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4 col-sm-12 mb-5">
            <div class="card bg-dark">
                <div class="card-header text-center">
                    <h1 class="display-6">{{ events.title }}</h1>
                </div>
                <div class="card-body">
                    <a *ngIf="events.eventPicturePath">
                        <img class="card-img-top" src="https://protonedmusic.com/{{ events.eventPicturePath }}" alt="Product Image">
                    </a>
                    <a *ngIf="!events.eventPicturePath">
                        <img class="card-img-top" src="../../../assets/img/Error.jpg" alt="Product Image">
                    </a>
                    <hr class="border-success border-2">
                    <h3>Description: <p class="card-text">{{ events.description }}</p></h3>
                    <h4>Event date: <p class="card-text">{{ events.timeofEvent | date: 'dd/MM/yyyy HH:mm a' }}</p></h4>
                    <hr class="border-success border-2">
                    <h2><span class="badge text-black bg-success">{{ events.price | currency: 'DKK' }}</span></h2>
                </div>
                <div class="card-footer">
                    <a type="button" class="btn bi-x-circle-fill btn-outline-success float-start" [routerLink]="['/events']" > Back</a>
                    <a type="button" class="btn bi-bag-check-fill btn-outline-success float-end" (click)="addToCart(events)"> Add to basket</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container-fluid w-100  mt-5">
    <div class="row row-cols-auto row-cols-lg-2 g-4 m-5">
        <div class="col">
            <div class="card text-bg-dark" *ngIf="events.eventPicturePath">
                <img class="card-img" src="https://protonedmusic.com/{{ events.eventPicturePath }}" alt="Product Image">
            </div>
            <div class="card text-bg-dark" *ngIf="!events.eventPicturePath">
                <img class="card-img" src="../../../assets/img/Error.jpg" alt="Product Image">
            </div>
        </div>
        <div class="col">
            <h1 class="fs-1 fw-semibold">{{events.title}}</h1>

            <div class="mt-5">
                <p class="fw-medium">
                    {{events.description}}
                </p>
            </div>
            
            <hr class="border-success border-2 opacity-25 mt-5 mb-4">

            <div class="row row-cols-2">
                <div class="col">
                    <span class="badge fs-4 fw-medium">{{events.price | currency: 'DKK '}}</span>
                </div>
                <div class="col">
                    <a type="button" class="btn bi-bag-check-fill btn-outline-success float-end" (click)="addToCart(events)"> Add to basket</a>
                </div>
            </div>
        </div>
    </div>
</div>
