<div class="container-fluid d-flex justify-content-center" data-bs-theme="dark">
    <div class="mb-3">
        <div class="card-body text-center">
            <button type="button" class="btn rounded-circle" data-bs-toggle="modal" data-bs-target="#Modal">
                <div class="image-container rounded-circle">
                    <a *ngIf="user.profilePicturePath">
                        <img src="https://protonedmusic.com/{{ user.profilePicturePath }}" class="rounded-circle"
                            width="208" height="208">
                        <div class="edit-overlay rounded-circle">
                            <i class="uploadicon bi-upload text-success align-bottom"></i>
                        </div>
                    </a>
                    <a *ngIf="!user.profilePicturePath && user.firstName != null">
                        <p-avatar label="{{avatarLetterCheck(user.firstName)}}"
                            styleClass="xl: w-13rem h-13rem text-8xl text-white" shape="circle"></p-avatar>
                        <div class="edit-overlay rounded-circle">
                            <i class="uploadicon bi-upload text-success align-bottom"></i>
                        </div>
                    </a>
                    <a *ngIf="!user.profilePicturePath && user.firstName == null">
                        <p-avatar icon="bi-person-fill" size="xlarge" styleClass="xl: w-13rem h-13rem text-white"
                            shape="circle"></p-avatar>
                        <div class="edit-overlay rounded-circle">
                            <i class="uploadicon bi-upload text-success align-bottom"></i>
                        </div>
                    </a>
                </div>
            </button>
        </div>


        <div class="mx-lg-5 text-center">
            <h1 type="name" class="display-4 fw-medium my-5" id="name"> {{msg}} {{user.firstName}}</h1>
        </div>
        <div class="my-3 mb-2">
            <button class="form-control text-center" id="editprofil" [routerLink]="['editprofil']">Edit profile</button>
        </div>
        <div class="my-3 mb-2">
            <button class="form-control text-center" id="orderhistory" [routerLink]="['orderhistory']">Order
                History</button>
        </div>
        <div class="my-3 mb-2" *ngIf="user.role == 'Family' && !this.artist">
            <button class="form-control text-center nav-button" id="orderhistory" (click)="makeArtistPage()"
                matTooltipPosition="right" matTooltipClass="panel-tooltip"
                matTooltip="Creates a artist profile, that you can edit">
                Make Your Artist Page</button>
        </div>
        <div class="my-3 mb-2" *ngIf="this.artist > 0">
            <button class="form-control text-center" id="orderhistory" [routerLink]="['/artist', artist]">Artist
                Profile</button>
        </div>
        <div class="my-3">
            <button type="password" class="form-control text-center" id="logud" (click)="Logout()">Log ud</button>
        </div>
    </div>
</div>




<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="Modal">Change Profile Picture</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input class="form-control" type="file" name="fileInput" accept="image/*"
                    (change)="fileChangeEvent($event)" />

                <image-cropper class="cropper" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                    [aspectRatio]="3 / 3" format="png" (imageCropped)="imageCropped($event)"
                    (imageLoaded)="imageLoaded($event)" (cropperReady)="cropperReady()"
                    (loadImageFailed)="loadImageFailed()"></image-cropper>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-sm btn-danger" (click)="removeImage(); $event.stopPropagation()"
                    data-bs-dismiss="modal">Remove Image</button>
                <button type="submit" class="btn btn-sm btn-success" (click)="uploadImage(); $event.stopPropagation()"
                    data-bs-dismiss="modal">Upload Image</button>
            </div>
        </div>
    </div>
</div>