<div class="container-fluid d-flex justify-content-center" data-bs-theme="dark">
    <div class="mb-3">
        <div class="card-body text-center">
            <i class="bi-person-circle me-auto text-center" style="font-size: 13rem; color: white;" id="Profile"></i> 
        </div>
        <div class="mx-lg-5 text-center">
            <h1 type="name" class="display-4 fw-medium my-5" id="name" > {{msg}} {{user.firstName}}</h1>
        </div>
        <div class="mt-4">
            <button class="form-control text-center" id="editprofil" [routerLink]="['editprofil']">Edit profile</button>
        </div> 
        <div class="mt-4">
            <button type="password" class="form-control text-center" id="logud" (click)="Logout()">Log ud</button>
        </div>    
    </div>  
</div>