<div class="container">
  <h1 class="m-2">User Editing</h1>
</div>

<div class="container-fluid" data-bs-theme="dark">
  <div class="form-group row mb-3">
    <label class="col-12 col-sm-1 col-form-label">First name</label>
    <div class="col-12 col-sm-6">
      <input [(ngModel)]="user.firstName" class="form-control w-75">
    </div>
  </div>

    <div class="form-group row mb-3">
      <label class="col-12 col-sm-1 col-form-label">Last name</label>
      <div class="col-12 col-sm-6">
        <input [(ngModel)]="user.lastName" class="form-control w-75">
    </div>
  </div>

  <div class="form-group row mb-3">
    <label class="col-12 col-sm-1 col-form-label">Email</label>
    <div class="col-12 col-sm-6">
      <input [(ngModel)]="user.email" class="form-control w-75">
    </div>
  </div>

  <div class="form-group row mb-3">
    <label class="col-12 col-sm-1 col-form-label">Password</label>
    <div class="col-12 col-sm-6">
      <input [(ngModel)]="user.password" class="form-control w-75" placeholder="Password Required">
    </div>
  </div>

  <div class="form-group row mb-3">
    <label class="col-12 col-sm-1 col-form-label">Address</label>
    <div class="col-12 col-sm-6">
      <input [(ngModel)]="user.address" class="form-control w-75">
    </div>
  </div>

  <div class="form-group row mb-3">
    <label class="col-12 col-sm-1 col-form-label">City</label>
    <div class="col-12 col-sm-6">
      <input [(ngModel)]="user.city" class="form-control w-75">
    </div>
  </div>
  
  <div class="form-group row mb-3">
    <label class="col-12 col-sm-1 col-form-label">Postal</label>
    <div class="col-12 col-sm-6">
      <input [(ngModel)]="user.postal" class="form-control w-75">
    </div>
  </div>

  <div class="form-group row mb-3">
    <label class="col-12 col-sm-1 col-form-label">Country</label>
    <div class="col-12 col-sm-6">
      <input [(ngModel)]="user.country" class="form-control w-75">
    </div>
  </div>

  <div class="form-group row mb-3">
    <label class="col-12 col-sm-1 col-form-label">Newsletter</label>
    <div class="col-12 col-sm-6">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" [checked]="user.addonRoles == roleChecker">
        <label class="form-check-label" for="flexSwitchCheckChecked">Subscribe to newsletter</label>
      </div>
    </div>
  </div>

  <div class="my-3">
    <button (click)="save()" class="btn bi-floppy-fill btn-sm btn-success me-1"> Save changes</button>
    <button [routerLink]="['../../../profilmenu', user.id]" class="btn bi-x btn-sm btn-secondary"> Cancel</button>
</div>
</div>