<div class="container-xl px-4 mt-4">
    <div class="row">
        <div class="col-lg-8">
            <div class="card card-header-actions mb-4 w-50">
                <div class="card-header">
                    Email Notifications
                    <div>
                        
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-success me-1" [routerLink]="['../../../profilmenu', currentUser.id]">Save Changes</button>
                <button class="btn btn-danger" [routerLink]="['../../../profilmenu', currentUser.id]">Back</button>
            </div>
        </div>
    </div>
</div>