<div class="container d-flex justify-content-center">
    <div class="card mb-3 border-0">
        <div class="card-body">
            <i class="bi bi-person-circle text-dark me-auto" style="font-size: 15rem;" id="Profile"></i> 
        </div>
        <div class="mx-5">
            <h2 type="name" class="form-control text-center" id="name"> Hej {{user.firstname}}</h2>
        </div>
        <div class="">
            <button type="email" class="form-control text-center" id="redigerProfil" placeholder="Rediger profil" [routerLink]="['redigerprofil']">Rediger profil</button>
        </div>
        <div class="mt-4">
            <button type="password" class="form-control text-center" id="tidligereKøb" placeholder="Se tidligere køb">Se tidligere køb</button>
        </div>     
        <div class="mt-5">
            <button type="password" class="form-control text-center" id="logud" (click)="Logout()">Log ud</button>
        </div>    
    </div>  
</div>